---
---

@import "reset";
@import "variables";
@import "highlights";
@import "svg-icons";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&display=swap");

html {
  font-size: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.6;
  padding: 0;
  background: $white;
  color: $darkerGray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
}
.containerblog {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  // font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: normal;
  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  font-weight: normal;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}
p {
  margin: 15px 0;
  font-size: 15px;
}

a {
  color: $blue;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: $blue;
  }
  &:active {
    color: #f01;
  }
}

ul,
ol {
  margin: 15px 0;
  padding-left: 30px;
  font-size: 15px;
}

ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}

ol ul,
ul ol,
ul ul,
ol ol {
  margin: 0;
}

ul ul,
ol ul {
  list-style-type: circle;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: #6666;
  font-size: 14px;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 10px;
}

.masthead {
  padding: 15px 0;
  border-bottom: 1px solid $lightGray;
  font-weight: bold;

  @include mobile {
    text-align: center;
  }
}
 .blogsubtext p
{
    max-height: 50px;
    overflow: hidden;
}
.blogheader {
  color: #222;
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
  

  img {
    border-radius: 50%;
  }
}

.site-info {
  float: left;
  font-weight: bold;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  // font-family: $helveticaNeue;
  font-weight: 350;
  font-size: 28px;
  letter-spacing: 1px;
  // Added position and top to correct the orientation i.e. shift the name to the centre.
  position: relative;
  top: 10px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

.post-single__title {
  font-size: 2rem;
  max-width: 40rem;
  font-weight: 600;
  text-align: center;
  line-height: 2.68125rem;
  margin: 1.625rem auto 0;
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: "Lato", sans-serif;
  // font-family: $helveticaNeue;
  font-size: 18px;
  font-weight: 400; //Added font weight

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 400;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 1.4em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em 0.8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: capitalize;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}
