<!-- This goes in default.html under layout -->

<!-- <footer class="site-footer h-card"> -->
 <!--   <data class="u-url" href="{{ "/" | relative_url }}"></data> -->
<footer class="wrapper-footer">
  <!--  <div class="wrapper-footer"> -->
    <div class="container">
      <footer class="footer">
      {% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}"><i class="svg-icon email"></i></a>{% endif %}
      {% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><i class="svg-icon linkedin"></i></a>{% endif %}
      {% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}"><i class="svg-icon twitter"></i></a>{% endif %}
      <p> Forever Curious © Prince Jain. </p>
      </footer>
    </div>

</footer>
