<head>
	{% include analytics.html %}
	{% include meta.html %}
	{% include schema.html %}
	<title> {% if page.title %}{{ page.title }} | {% endif %}{{ site.name }} </title>
	
	<!-- Preconnect to external resources -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	
	<!-- Load critical CSS first -->
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/critical.css">
	
	<!-- Defer non-critical CSS -->
	<link rel="preload" href="{{ site.baseurl }}/assets/css/header.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<link rel="preload" href="{{ site.baseurl }}/css/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<noscript>
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header.css">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
	</noscript>
	
	<!-- Defer Google Fonts -->
	<link rel="preload" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<noscript>
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
	</noscript>
	
	<!-- Fallback for browsers that don't support preload -->
	<script>
		/* Inline script to handle CSS loading */
		(function() {
			var css = document.createElement('style');
			css.innerHTML = 'body{opacity:0}';
			var ref = document.getElementsByTagName('head')[0];
			ref.parentNode.insertBefore(css, ref);
			window.onload = function() {
				setTimeout(function() {
					css.innerHTML = 'body{opacity:1}';
				}, 0);
			}
		})();
	</script>
	
	<!-- Meta tags and other non-blocking resources -->
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
	{% assign canonical_url = site.url | append: page.url | replace: '/index.html', '/' %}
	<link rel="canonical" href="{{ canonical_url }}">
	<link rel="shortcut icon" type="image/png" href="/images/site-icon.webp" />
	<link rel="apple-touch-icon" href="/images/site-icon.webp">
</head>
