<head>
	<!-- Preload critical avatar styles to prevent layout shift -->
	{% include avatar-preload.html %}
	{% include analytics.html %}
	{% include meta.html %}
	<title> {% if page.title %}{{ page.title }} | {% endif %}{{ site.name }} </title>
	
	<!-- Preconnect to Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<!-- Load font with display=swap for better performance -->
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" media="print" onload="this.media='all'">
	<!-- Fallback in case JS is disabled -->
	<noscript>
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
	</noscript>
	
	<!-- Inline critical CSS for faster rendering -->
	{% include critical-css.html %}
	
	<!-- Critical CSS loaded synchronously -->
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/sticky-header.css" />
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/header-fix.css" />
	
	<!-- Non-critical CSS loaded asynchronously -->
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" media="print" onload="this.media='all'" />
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/transitions.css" media="print" onload="this.media='all'" />
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/typography-fix.css" media="print" onload="this.media='all'" />
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
	<link rel="canonical" href="{{ site.url }}{{page.url}}">
	<link rel="shortcut icon" type="image/png" href="/images/site-icon.webp" />
	<link rel="apple-touch-icon" href="/images/site-icon.webp">

</head>
