<!-- This goes in head.html. Meta tags are used in SEO Optimisation-->

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta property="og:locale" content="en_US">

<link rel="shortcut icon" type="image/png" href="/assets/favicon.png">

<meta property="og:title" content="Prince Jain">
<meta name="author" content="Prince Jain">
<meta name="description" content="My personal blog to share/ document my Product Management journey.">
<meta property="og:description" content="My personal blog to share/ document my Product Management journey.">
<link rel="canonical" href="/">
<meta property="og:url" content="/">
<meta property="og:site_name" content="Prince Jain">
<meta property="og:image" content="https://princejain.me/images/my-image.png">
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:image" content="https://princejain.me/images/my-image.png">
<meta property="twitter:title" content="Prince Jain">
<meta name="twitter:site" content="@Prince_Jain17">
<script type="application/ld+json">

<!--
{% if page.excerpt %}
<meta name="description" content="{{ page.excerpt| strip_html }}" />
<meta property="og:description" content="{{ page.excerpt| strip_html }}" />
{% else %}
<meta name="description" content="{{ site.description }}" />
<meta property="og:description" content="{{ site.description }}" />
{% endif %}
<meta name="author" content="{{ site.name }}" />

{% if page.title %}
<meta property="og:title" content="{{ page.title }}" />
<meta property="twitter:title" content="{{ page.title }}" />
{% endif %}
-->
