---
layout: default
---
<h2>{{ page.title }}</h2>

<div class="containerblog">
	<div class="posts"> {% for post in site.posts %}
		<article class="post">
			<div class="date"> Published on {{ page.date | date: "%B %e, %Y" }}
     			<h4><a href="{{ site.baseurl }}{{ post.url }}" class="blogheader">{{ post.title }}</a></h4>
			<div class="entry"> <div class="blogsubtext">{{ post.excerpt }} </div> </div> 
			<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
		</article> {% endfor %} 
	</div>
</div>
