<!DOCTYPE html>
<html>
  <head>
     {% include analytics.html %}
    <!-- Editing Page Title -->
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title> 
    {% include meta.html %}
   
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
      <!-- Including a new nav class -->
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}

    <!-- This is a sample Comment -->
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
           <!--  <p class="site-description">{{ site.description }}</p> -->
          </div>

          <nav>
    <!--    <a href="{{ site.baseurl }}/">Home</a>  -->
            <a href="{{ site.baseurl }}/blogs">Blogs</a>
            <a href="{{ site.baseurl }}/reads/">Reads</a>
            <a href="{{ site.baseurl }}/about">About Me</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
